/* src/index.css */
:root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal */
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}